name: Docs

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e .[docs]

      - name: Generate docs
        run: |
          python -m pdoc -o docs/aplicacion aplicacion
          python -m pdoc -o docs/persistencia persistencia

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GH_PAGES_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages
          user_name: github-actions
          user_email: github-actions@github.com
          force_orphan: true   # crea gh-pages aunque no exista
