name: website

# build the documentation whenever there are new commits on main
on:
  push:
    branches:
      - main

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      # Install all dependencies (including docs)
      - run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e .[docs]

      # Generate documentation
      - name: Generar doc Aplicacion
        run: python -m pdoc -o docs/aplicacion aplicacion

      - name: Generar doc Persistencia
        run: python -m pdoc -o docs/persistencia persistencia

      # Upload the docs as artifact for GitHub Pages
      - uses: actions/upload-pages-artifact@v4
        with:
          path: docs/

  # Deploy the artifact to GitHub pages.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
