name: Docs

on:
  push:
    branches:
      - main

permissions:
  contents: read    # leer repo
  pages: write       # necesario para publicar Pages
  id-token: write    # necesario para deploy automático

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Clonar el repo
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      # 2️⃣ Instalar Python y pdoc
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e .[docs]

      # 3️⃣ Generar documentación con pdoc
      - name: Generar doc Aplicacion
        run: python -m pdoc -o docs/aplicacion aplicacion

      - name: Generar doc Persistencia
        run: python -m pdoc -o docs/persistencia persistencia

      # 4️⃣ Publicar en gh-pages
      - name: Deploy a gh-pages
        uses: peaceiris/actions-gh-pages@v5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # token automático, no necesitas PAT
          publish_dir: ./docs
          publish_branch: gh-pages
          user_name: "github-actions"
          user_email: "github-actions@github.com"
          keep_files: true # opcional, mantiene archivos anteriores en gh-pages
