name: Docs

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Install pdoc
        run: pip install pdoc

      - name: Build docs aplicacion
        run: |
          export PYTHONPATH=$(pwd)
          python -m pdoc -o docs/aplicacion aplicacion

      - name: Build docs persistencia
        run: |
          export PYTHONPATH=$(pwd)
          python -m pdoc -o docs/persistencia persistencia

      - name: Merge docs into single folder
        run: |
          mkdir -p docs/_site
          cp -r docs/aplicacion/* docs/_site/
          cp -r docs/persistencia/* docs/_site/

      - name: List docs
        run: ls -R docs/_site

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./docs/_site
          publish_branch: gh-pages
