name: Generate and Deploy Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  pages: write      # necesario para crear/actualizar Pages
  id-token: write   # requerido por deploy-pages
  contents: read    # opcional, para checkout

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e .[docs]

      - name: Generate documentation - Aplicacion
        run: python -m pdoc -o docs/aplicacion aplicacion

      - name: Generate documentation - Persistencia
        run: python -m pdoc -o docs/persistencia persistencia

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4
        with:
          enablement: true

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

  deploy:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.pages.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
