name: "Docs"

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read    # lectura de tu repositorio
  pages: write      # escritura para GitHub Pages
  id-token: write   # requerido para deploy de Pages

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e .[docs]  # si tu proyecto tiene extras docs

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV

      - name: Generate documentation - Aplicacion
        run: python -m pdoc -o docs/aplicacion aplicacion

      - name: Generate documentation - Persistencia
        run: python -m pdoc -o docs/persistencia persistencia

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./docs
