name: website

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -e .[docs]

      - name: Generar doc Aplicacion
        run: python -m pdoc -o docs/aplicacion aplicacion

      - name: Generar doc Persistencia
        run: python -m pdoc -o docs/persistencia persistencia

      # Deploy a gh-pages manual
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v7
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages
          user_name: "github-actions"
          user_email: "github-actions@github.com"
